<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Best Music EVER</title>
</head>
<body>

    <h1>This is a page for all my favourite Artists and songs !</h1> 


    <% for (let a of albumsArray) { %>
        <li><%= a.id %> - <%= a.name %> , <%= a.artist %></li>
    <a href= "http://localhost:3000/albums/<%= a.id %>">click <%= a.name %></a>
    <% } %> 
</body>
</html>